[build]
  command = "hugo --gc --minify"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.121.0" # You can check your local version with 'hugo version'
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"